<h4>All Updates</h4>

<%= link_to "https://football.thedzone.com/news/river-rouge-2021-ot-tyler-mcmillan-has-committed-to-tulsa" %>
<%= LinkThumbnailer.generate('https://football.thedzone.com/news/river-rouge-2021-ot-tyler-mcmillan-has-committed-to-tulsa') %>